body {
    background-color: #020617;
    color: #e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

.mantra {
    font-size: 20px;
    line-height: 1.6;
    color: #38bdf8;
    text-align: center;
}
